html,body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.demo-switcher {
  z-index: 100;
  position: fixed;
  top: 10%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem 0.5rem;
  border: 4px solid;
  transform: translateX(-95%);
}
.demo-switcher.is-open{
  transform: none;
}
.demo-switcher .toggler {
  position: absolute;
  top: 0;
  left: 100%;
}
.demo-switcher .demo-title {
  font-size: 1.5rem;
  font-weight: 600;
}
.demo-switcher .controls {
  display: flex;
  gap: 0.25rem;
}

header, footer {
  padding: 4rem 4rem 2rem;
}

main {
  flex: 1;
}

#three-js-canvas {
  width: 100%;
  height: 90%;
  box-shadow: 0px 0px 5px 0px  orange;
}

/* Dat GUI */
.dg.ac {
  z-index: 10;
}